/* Bagian Tentang */
.about {
    padding: 50px 20px;
    background: #cb90e0;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6a11cb;
    animation: slideUp 1s ease-in-out;
}

.about p {
    font-size: 1.1rem;
    color: #555;
    margin: 10px 0;
    line-height: 1.8;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Animasi */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
